/* ****************** */
/* *** Navigation *** */
/* ****************** */
.nav {
  height: 60px;
}

.nav a {
  font-family: 'Raleway', sans-serif;
}


/* ************ */
/* *** Body *** */
/* ************ */
body {
  margin: 0;
  padding: 0;
}

/* ****************** */
/* *** Typography *** */
/* ****************** */
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1.1rem;
}
a {
  color: #00e1ff;
  text-decoration: none;
}
a:hover {
  color: #00e1ff;
  text-decoration: underline;
}

h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child {
  font-family: 'Raleway', sans-serif;
}

/* ****************** */
/* ***  Homepage  *** */
/* ****************** */
.hero img {
  margin-top: 60px;
  width: 100%;
}

.cta1 {
  background-color: #00e1ff;
}
.cta2 {
  height: 400px;
  margin-bottom: 240px;
}
.cta2-card {
  display: inline-block;
  width: 45%;
  height: 240px;
}
.ui.segment.cta2-card {
  margin-right: 20px;
}
.raving-fans {
  color: #fff;
  background-color: #000;
  padding: 40px;
}
.raving-fans .signature {
  color: #00e1ff;
  text-align: right;
}

/* **************** */
/* ***  Footer  *** */
/* **************** */
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}
.footer img {
  padding: 10px 0 15px;
}
.footer p {
  font-size: .7em;
}
.heart {
  fill: #00e1ff;
  position: relative;
  margin: 0 5px;
  top: 3px;
  width: 15px;
}
